
.center-content {
    margin: 0 auto;
    max-width: 50%;
}

.demo-hero-bg {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)),
        url("images/demo-cover.jpg");
    background-position: center 20%;
    background-size: 100%;
}

.secondary-heading {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #485fc7;
}

.collage-image {
    width: 100%;
}

.center-cards {
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {

    .center-content {
        max-width: 100%;
    }

}
