{% extends "base.html" %}
{% block content %}
    <section class="hero is-medium demo-hero-bg">
        <div class="hero-body has-text-centered center-content">
            <h1 class="title is-spaced has-text-link has-text-weight-bold is-size-1">Sugar On Top</h1>
            <p class="subtitle has-text-white">We are a vegan sweets bakery located in Toronto that sell donuts, cupcakes, cakes, and many other delicious treats to our customers.</p>
            <div class="hero-links">
                <button class="button is-link is-rounded mb-4">View Menu</button>
                <div class="hero-socials">
                    <a href="#" class="has-text-link-dark is-size-3 mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="has-text-link-dark is-size-3 mr-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="has-text-link-dark is-size-3 mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="has-text-link-dark is-size-3"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="section py-6">
        <div class="columns is-variable is-8 is-vcentered">
            <div class="column is-three-fifths content has-text-centered-mobile">
                <h2 class="is-size-2 is-size-3-mobile secondary-heading">About Us</h2>
                <p class="is-size-5 is-size-6-mobile">Our mission is to create as many vegan-friendly options of traditional baked goods and desserts to cater towards a diverse group of customers each with their own health preferences. To fit each customer's needs, we list each <a href="#">recipe's ingredients</a> on our menu.</p>
                <p class="is-size-5 is-size-6-mobile">Many of our restaurant staff come from different levels of experience but Sugar On Top aims to teach young bakers to challenge the ideas of traditional baking.</p>
            </div>
            <div class="column">
                <div class="tile is-ancestor images-collage">
                    <div class="tile is-6 is-vertical is-parent">
                        <div class="tile is-child">
                            <figure class="image collage-image">
                                <img src="{{ url_for('static', filename='images/brownies.jpg') }}">
                            </figure>
                        </div>
                        <div class="tile is-child">
                            <figure class="image collage-image">
                                <img src="{{ url_for('static', filename='images/cupcake.jpg') }}">
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child">
                            <figure class="image collage-image">
                                <img src="{{ url_for('static', filename='images/cake.jpg') }}">
                            </figure>
                        </div>
                        <div class="tile is-child">
                            <figure class="image collage-image">
                                <img src="{{ url_for('static', filename='images/donuts.jpg') }}">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section py-6 has-background-link-light">
        <div class="columns center-cards">
            <div class="column card is-flex is-flex-direction-column is-justify-content-center has-text-centered p-5">
                <i class="fas fa-leaf is-size-4 mb-4 has-text-link"></i>
                <h3 class="is-size-4 has-text-weight-semibold mb-2">Vegan</h3>
                <p>Our desserts are animal-friendly without the use of dairy, meat or eggs.</p>
            </div>
            <div class="column card is-flex is-flex-direction-column is-justify-content-center has-text-centered p-5">
                <i class="fas fa-users is-size-4 mb-4 has-text-link"></i>
                <h3 class="is-size-4 has-text-weight-semibold mb-2">Service</h3>
                <p>Baking staff are well-trained experts who deliver high-quality results.</p>
            </div>
            <div class="column card is-flex is-flex-direction-column is-justify-content-center has-text-centered p-5">
                <i class="fas fa-lightbulb is-size-4 mb-4 has-text-link"></i>
                <h3 class="is-size-4 has-text-weight-semibold mb-2">Creativity</h3>
                <p>Sugar On Top creates innovative and unique hand-crafted desserts.</p>
            </div>
            <div class="column card is-flex is-flex-direction-column is-justify-content-center has-text-centered p-5">
                <i class="fas fa-birthday-cake is-size-4 mb-4 has-text-link"></i>
                <h3 class="is-size-4 has-text-weight-semibold mb-2">Special Events</h3>
                <p>Our treats that are popular at parties and social events.</p>
            </div>
        </div>
    </section>
{% endblock content %}
