{% extends "base.html" %}
{% block content %}
    <div class="container is-max-desktop mb-6">
        <section class="section content pb-2">
            <h1 class="is-size-1">Tutorial</h1>
            <p class="is-size-5">This tutorial provides a brief overview of the concepts from the backend Flask framework and the frontend Bulma CSS framework which were both used to build the <a href="{{ url_for('demo') }}">Demo</a> page. Links to the corresponding documentation are also listed to give a more in-depth explanation.</p>
        </section>
        <section class="section content py-3" id="building-routes-with-flask">
            <h2 class="has-text-primary-dark">Building Routes with Flask</h2>
            <p>After following the instructions from the <a href="{{ url_for('install') }}">Install</a> page about Flask, we can now create routes to different pages in our application. To begin doing this, make a file called <span class="is-family-code">app.py</span> in your project folder and insert the following code:</p>
    <pre><code>from flask import Flask
app = Flask(__name__)

@app.route("/")
def index():
    return "&lt;h1&gt;Hello World!&lt;/h1&gt;"</code></pre>
            <p>After creating this file, run the following commands in a Terminal window like Git Bash.</p>
    <pre><code>$ export FLASK_APP=app
$ export FLASK_ENV=development
$ flask run</code></pre>
            <p>After running the last command, Flask should have displayed a message showing a localhost address (127.0.0.1) and the port number to see your page in the browser. Open Chrome and enter this address to see your "Hello World!" page.</p>
        </section>
        <section class="section content py-3" id="flask-templates">
            <h2 class="has-text-primary-dark">Flask Templates</h2>
            <p>To render bigger chunks of HTML, we should create templates for each page on the website. To render a template in Flask, follow these steps:</p>
            <ol>
                <li>Create a <span class="is-family-code">templates</span> directory in the same folder as your <span class="is-family-code">app.py</span> file.</li>
                <li>Add a file called <span class="is-family-code">base.html</span> to the <span>templates</span> directory.</li>
                <li>Modify <span class="is-family-code">app.py</span> to add Flask's <code>render_template()</code> function and add this HTML to the <span class="is-family-code">base.html</span> file.</li>
            </ol>
    <pre><code># app.py
from flask import Flask, render_template
app = Flask(__name__)

@app.route("/")
def index():
    return render_template("base.html")</code></pre>
    <pre><code>&lt;!-- base.html --&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;My Website&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Hello World&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
            <p>Since HTML content like navigation bars, headers, and footers can be repeated across many pages in our website, we can use Flask's <a href="https://flask.palletsprojects.com/en/2.0.x/patterns/templateinheritance/" target="_blank">template inheritance</a> in order to make changes easier to maintain. This allows templates to inherit all previous HTML content from other pages.</p>
        </section>
        <section class="section content py-3" id="using-bulmas-class-styles">
            <h2 class="has-text-primary-dark">Using Bulma's Class Styles</h2>
            <p>After attaching Bulma's CDN to our template files (mentioned in <a href="#">Install</a> page), we can use Bulma's provided <a href="https://bulma.io/documentation/" target="_blank">documentation</a> about CSS classes to style HTML elements like headings <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code>, images, sections, buttons, links, and others. Here are a few examples of how to style text, images, and apply colour styles.</p>
            <h3>Styling Text</h3>
            <p>Bulma provides many <a href="https://bulma.io/documentation/helpers/typography-helpers/" target="_blank">typography</a> classes which can be used to change the font properties and alignment of textual elements such as headings, paragraphs, and others. For example to create a bold and centered <code>&lt;h1&gt;</code>, we can use this code inside our <span class="is-family-code">base.html</span> file:</p>
    <pre><code>&lt;h1 class="is-size-1 has-text-centered has-text-weight-bold"&gt;Hello World&lt;/h1&gt;</code></pre>
            <h3>Styling Images</h3>
            <p>Bulma's documentation about <a href="https://bulma.io/documentation/elements/image/" target="_blank">images</a> shows ways to display images responsively with fixed sizes. For example, to create a rounded <code>128x128</code> image, we can use the following code inside our <span class="is-family-code">base.html</span> file.</p>
    <pre><code>&lt;figure class="image is-128x128"&gt;
    &lt;img class="is-rounded" src="my-image.jpg"&gt;
&lt;/figure&gt;</code></pre>
            <h3>Adding Colour</h3>
            <p>To draw attention to certain elements or make them more attractive, we can use Bulma's <a href="https://bulma.io/documentation/helpers/color-helpers/" target="_blank">colour classes</a> to add text colour and background colour. For example to style the <code>&lt;h2&gt;</code> headings on this page, the following code was used.</p>
    <pre><code>&lt;h2 class="has-text-primary-dark"&gt;Secondary Heading&lt;/h2&gt;</code></pre>
        </section>
    </div>
{% endblock content %}
